{% extends 'base.html' %}

{% block title %}
    Biblioteca ARP
{% endblock title %}

{% block content %}
    <main class="grey darken-4 white-text">
        <!-- {% include "components/carousel.html" %} -->
        <div class="container">
            <section>
                <div class="row">
                    <div class="col s12">
                        <h4 class="center-align">Publicaciones</h4>
                    </div>
                </div>
    
                {% include 'components/publicationsCard.html' %}
            </section>

            <!-- <section>
                <div class="row">
                    <div class="col s12">
                        <h4 class="center align">Libros</h4>
                        <a class="right" href="{% url 'books' %}">Ver mas ...</a>
                    </div>

                    <div class="col s12">
                        {% include "components/searchBook.html" %}
                    </div>

                    <div class="col s12">
                        {% for book in books %}
                            {% include "components/bookDetails.html" %}
                        {% endfor %}
                    </div>
                </div>
            </section> -->

            {% include 'components/info.html' %}
        </div>
    </main>
{% endblock content %}