{% extends 'base.html' %}

{% block title %}
    Books | Biblioteca ARP
{% endblock %}

{% block content %}
    <main class="dark-b white-text">
        <div class="container">
            <div class="row">
                {% include "components/searchBook.html" %}
                <div class="col s12">
                    {% for book in books %}
                        {% include "components/bookDetails.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}