<div class="col s12 m4">
    <div class="card sizeCustomCardBook grey darken-3 white-text">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ book.cover }}" alt="{{ book.title }}">
        </div>
        <div class="card-content">
            <span class="card-title activator">{{ book.title }}<i class="material-icons right">more_vert</i></span>
            <div>
                <span class="badge">{{ book.ID }}</span>
                {% for categories in book.categories %}
                    <span class="new badge left" data-badge-caption="{{ categories.name }}"></span>
                {% endfor %}
            </div>
            <br><br>
            <div>
                <p><i class="material-icons">person</i> Author: {{ book.author }}</p>
                <p><i class="material-icons">translate</i> Idioma: {{ book.language }}</p>
                <p><i class="material-icons">book</i> Paginas: {{ book.pages }}</p>
                <p><i class="material-icons">today</i> Año de publicacion: {{ book.publisher_date }}</p>
                {% if book.url_read_online %}
                    <a class="btn col s12" href="{{ book.url_read_online }}" target="_blank" style="margin-top: 10px;">Leer</a>
                {% endif %}
                {% if book.url_download %}
                    <a class="btn col s12" href="{{ book.url_download }}" target="_blank" style="margin-top: 10px;">Descargar</a>
                {% endif %}
                {% if book.url_details %}
                    <a class="btn col s12" href="{{ book.url_details }}" target="_blank" style="margin-top: 10px;">Mas detalles</a>
                {% endif %}
                <small>{{ book.publisher }}</small>
            </div>
        </div>
        <div class="card-reveal grey darken-3">
            <span class="card-title">{{ book.title }}<i class="material-icons right">close</i></span>
            <!-- <br>
            {% for categories in book.categories %}
                <span class="new badge left" data-badge-caption="{{ categories.name }}"></span>
            {% endfor %}
            <br> -->
            <P><i class="material-icons left">person</i> Author: {{ book.author }}</P>
            <p><i class="material-icons left">translate</i> Idioma: {{ book.language }}</p>
            <p><i class="material-icons left">book</i> Paginas: {{ book.pages }}</p>
            <p><i class="material-icons left">local_library</i>Editor: {{ book.publisher }}</p>
            <p><i class="material-icons left">today</i> Año de Publicacion: {{ book.publisher_date }}</p>
            <p>{{ book.content_short }}</p>
            <div class="col s12">
                {% if book.url_read_online %}
                    <a class="btn col s12" href="{{ book.url_read_online }}" target="_blank">Leer</a>
                {% endif %}
                {% if book.url_download %}
                    <a class="btn col s12" href="{{ book.url_download }}" target="_blank">Descargar</a>
                {% endif %}
                {% if book.url_details %}
                    <a class="btn col s12" style="margin-top: 10px;" href="{{ book.url_details }}" target="_blank">Mas detalles</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>