<div class="carousel carousel-slider" style="height: 75vh;">
    <a class="carousel-item" href="#one!"><img src="https://picsum.photos/id/80/536/354" style="background-position: center;"></a>
    <a class="carousel-item" href="#two!"><img src="https://picsum.photos/600" ></a>
    <a class="carousel-item" href="#three!"><img src="https://picsum.photos/700" ></a>
    <a class="carousel-item" href="#four!"><img src="https://picsum.photos/800" ></a>
    <a class="carousel-item" href="#five!" style="background-position: center;"><img src="https://picsum.photos/900" ></a>
</div>