<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Biblioteca Escolar ARP</h5>
                <p class="grey-text text-lighten-4">El Colegio Técnico Aldemar Rojas Plazas C.E.D., es un establecimiento educativo oficial ubicado en la ciudad de Bogotá D.C., localidad San Cristóbal. Cupos solo para grado 10° y 11°
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/colegiotecnicoaldemarrojasplazas"><i class="material-icons">facebook</i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container teal-text text-accent-3">
            {% load static %}
            <a href="https://erik172.dev"><img src="{% static 'img/Erik172White.svg' %}" alt="Erik172" style="max-height: 15px;" class="responsive-img"></a>
            <a class="grey-text text-lighten-4 right" href="#!">Version: Beta 1.2.0</a>
        </div>
    </div>
</footer>