<section>
    <div class="row">
        <div class="col s12">
            <h4 class="center-align">Informacion</h4>
            <p>
                La Biblioteca escolar (BE) se encuentra ubicada en la primera planta de la institución, 
                al lado del patio principal y del teatro. Está formada por tres niveles. 
                En el primero se encuentra ubicada la sala de internet, fotocopias, módulo de atención y 
                préstamo, colección de literatura, hemeroteca, casilleros y bodega; en el nivel inferior 
                se encuentran las colecciones general y de referencia y las mesas de consulta, y en el 
                nivel superior se sitúa un salón de talleres.  
            </p>         
            <ul class="collapsible">
                <li class="grey darken-4 center-align">
                    <div class="collapsible-header grey darken-3"><i class="material-icons">place</i>Ubicacion</div>
                    <div class="collapsible-body"><img src="https://i.imgur.com/EKtG5YM.jpg" class="responsive-img center-align" alt="Ubicacion"></div>
                </li>
            </ul>
        </div>

        <section class="col s12">
            <div class="col s12 m6">
                <div class="divider"></div>
                <div class="section">
                    <h5><i class="material-icons left"></i> Funciones</h5>
                    <ol>
                        <li>Contribuir con los propósitos del Proyecto Educativo Institucional del Colegio Técnico Aldemar Rojas Plazas CED, apoyando la labor pedagógica de la comunidad educativa.</li>
                        <li>Promover la lectura, la escritura y la oralidad en la comunidad educativa como herramientas que contribuyan en su formación académica y en el incremento de su acervo cultural.</li>
                        <li>Fomentar en la comunidad educativa el hábito y el placer por la lectura, el aprendizaje, el uso de la información y la utilización de las bibliotecas a lo largo de la vida.</li>
                        <li>Incentivar la creación literaria, la comprensión de lectura y el desarrollo de la imaginación.</li>
                        <li>Estimular el desarrollo de competencias informacionales en cuanto a la identificación y evaluación de fuentes de información y el uso ético de las mismas.</li>
                        <li>Proporcionar a la comunidad educativa el acceso a los recursos mobiliarios y bibliográficos disponibles para su uso en la BE.</li>
                        <li>Participar y colaborar en las actividades institucionales programadas en la institución.</li>
                    </ol>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="divider"></div>
                <div class="section">
                    <h5> Servicio de referencia
                    </h5>
                    <p>
                        El servicio de referencia consiste en satisfacer las necesidades de información de los estudiantes y docentes utilizando los recursos informativos que posee la institución.
                        Las funciones del servicio de referencia en el Colegio Técnico Aldemar Rojas Plazas CED son:                        
                    </p>

                    <ol>
                        <li>Apoyar a los estudiantes y docentes en la utilización del material bibliográfico existente y otras fuentes de información que estén al alcance.</li>
                        <li>Orientar y ayudar a los estudiantes y docentes para que después de un proceso de aprendizaje desarrollen la habilidad de obtener la información por si mismos utilizando diferentes fuentes y métodos.</li>
                        <li>La representación de la realidad y la expresión de los sentimientos.</li>
                        <li>Estimular en los estudiantes y docentes el buen uso de los servicios de información.</li>
                        <li>Asistir de forma personalizada a la resolución de consultas de carácter específico o general, y búsquedas bibliográficas en diferentes tipos de recursos informativos.</li>
                    </ol>
                </div>
            </div>
        </section>

        <section class="col s12">
            <div class="col s12">
                <h4 class="center-align">Servicios</h4>
            </div>
            <ul class="collapsible">
                <li class="col s12 m6">
                    <div class="collapsible-header grey darken-2">Prestamo</div>
                    <div class="collapsible-body">
                        <p>El servicio de préstamo permite a la comunidad educativa tener acceso al material bibliográfico 
                            existente en la BE para ser usado en casa, en el aula o en la misma biblioteca. 
                            Los materiales bibliográficos, a excepción de los de la Colección de Referencia, 
                            tienen préstamo externo.
                        </p>
                        <p>El procedimiento para el servicio de préstamo se efectuará de la siguiente manera:</p>
            
                        <ol>
                            <li>Acercarse con el libro y el documento de identificación al escritorio del personal de la biblioteca para solicitar el préstamo.</li>
                            <li>El personal de la biblioteca registra los datos del material bibliográfico y del estudiante en la base de datos de préstamo de la BE.</li>
                            <li>El material bibliográfico será prestado por 8 días, fecha que será colocada en una cartulina al final del libro para que el usuario recuerde la misma; si el estudiante lo requiere más tiempo debe acercarse a la biblioteca a hacer la renovación siempre que el material no se encuentre reservado para otro usuario.</li>
                            <li>En caso de no devolver el libro en el plazo estipulado, se procederá a sancionar al estudiante por un tiempo igual a los días de mora en la devolución, sin derecho a préstamo externo.</li>
                            <li>Cuando el material es extraviado o dañado el estudiante debe reponerlo por uno igual o de características semejantes, contando con la guía del personal de la BE.</li>
                        </ol>

                        <p>Para tener en cuenta:</p>

                        <ol>
                            <li>Tener presente la fecha de devolución para no recibir sanciones.</li>
                            <li>Observar las condiciones físicas en que fueron entregados los libros para evitar sanciones.</li>
                            <li>Es importante recordar que los libros de la BE son comprados con recursos públicos, son patrimonio de todos.</li>
                            <li>Los docentes, personal administrativo, servicios generales y seguridad efectuarán el mismo procedimiento de préstamo.</li>
                        </ol>

                        <p>Para evitar pérdidas de libros al finalizar el año, el servicio de préstamo se suspenderá en la tercera semana de octubre.</p>
                    </div>
                </li>

                <li class="col s12 m6">
                    <div class="collapsible-header grey darken-2">Consulta en sala</div>
                    <div class="collapsible-body">
                        <p>Consulta Individual</p>
                        <ol>
                            <li>los miembros de la comunidad educativa que utilicen de forma independiente el servicio de consulta en la BE para el desarrollo de actividades académicas deben tomar los materiales necesarios para la consulta y dejarlos al finalizar sobre las mesas o estantes para ser ubicados por el encargado (a) de la BE.</li>
                        </ol>
                        <p>Consulta Grupal</p>
                        <ol>
                            <li>los docentes que requieran utilizar los diferentes espacios de la biblioteca para actividades académicas, deben reservarla con la persona encargada con un día de antelación con el fin de adecuar el lugar para su uso. El grupo debe estar acompañado por el docente, que dirige la actividad y asume la responsabilidad sobre el comportamiento de los estudiantes, manejo y uso del material bibliográfico, cuidado del mobiliario y respeto por los demás usuarios que se encuentren en la BE.</li>
                        </ol>
                    </div>
                </li>
                
                <li class="col s12 m6">
                    <div class="collapsible-header grey darken-2">Consulta en Internet</div>
                    <div class="collapsible-body">
                        <p> El acceso al servicio de consulta en Internet es libre y gratuito, solicitando turno con la persona encargada de Biblioteca.</p>
                        <ol>
                            <li>El estudiante debe hacer buen uso de los computadores que están a su disposición dentro de la Biblioteca.</li>
                            <li>El estudiante debe informar al encargado de la Biblioteca cualquier novedad en el computador asignado, para gestionarla según el caso.</li>
                            <li>No se permite la instalación de cualquier tipo de programa. Tampoco el uso de redes sociales y juegos, los computadores son para uso de consulta.</li>
                        </ol>
                    </div>
                </li>
                
                <li class="col s12 m6">
                    <div class="collapsible-header grey darken-2">Referencia</div>
                    <div class="collapsible-body">
                        <p>El servicio de referencia consiste en satisfacer las necesidades de información de los estudiantes y docentes utilizando los recursos informativos que posee la institución.</p>
                        <p>Las funciones del servicio de referencia en el Colegio Técnico Aldemar Rojas Plazas CED son</p>
                        <ol>
                            <li>Apoyar a los estudiantes y docentes en la utilización del material bibliográfico existente y otras fuentes de información que estén a su alcance.</li>
                            <li>Orientar y ayudar a los estudiantes y docentes para que después de un proceso de aprendizaje desarrollen la habilidad de obtener la información por si mismos utilizando diferentes fuentes de información.</li>
                            <li>Estimular en los estudiantes y docentes el buen uso de los servicios de información.</li>
                            <li>Asistir de forma personalizada a la resolución de consultas de carácter específico o general, y búsquedas bibliográficas en diferentes tipos de recursos informativos.</li>
                        </ol>
                    </div>
                </li>  
            </ul>
        </section>

        <section>
            <div class="col s12">
                <div class="col s12">
                    <h4 class="center-align">Uso de espacios</h4>
                    <p>El encargado de Biblioteca realiza el préstamo de espacios (teatro, salón de biblioteca, sala general y sala de Internet) solicitados libremente por los docentes de acuerdo a la necesidad dentro de su actividad curricular.</p>
                    <p>La solicitud de uso de espacios se realiza de la siguiente manera:</p>
                    <ol>
                        <li>Acercarse al escritorio del personal de biblioteca para conocer la disponibilidad de los espacios requeridos.</li>
                        <li>Mencionar el horario solicitado y el grupo que usará el espacio (estudiantes o docentes).</li>
                        <li>Indicar particularidades sobre el uso (equipos, traslados, etc.).</li>
                    </ol>
                    <p>Para tener en cuenta:</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Lugar</th>
                                <th>Descripcion</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Salon de Biblioteca</td>
                                <td>Espacio ubicado en el nivel superior de la BE. Cuenta con 45 sillas.</td>
                            </tr>

                            <tr>
                                <td>Sala de Internet</td>
                                <td> Espacio ubicado en el nivel medio de la BE. Cuenta con 9 computadores para desarrollo de clase.</td>
                            </tr>

                            <tr>
                                <td>Sala General</td>
                                <td>Espacio ubicado en el nivel inferior de la BE. Allí se encuentran las colecciones General y Referencia. El docente puede solicitar determinados materiales para usar en la clase.</td>
                            </tr>

                            <tr>
                                <td>Teatro</td>
                                <td>Auditorio anexo a la BE. Pueden usarse equipos (video beam, computador, sonido).</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</section>