<div id="modalEditProfile" class="modal black-text">
    <form action="/users/edit/{{ user.username }}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="modal-content">
            <h4>Editar Perfil | {{ user.username }}</h4>

            <div class="file-field input-field col s3">
                <div class="btn">
                    <span>Foto de Perfil</span>
                    <input type="file" name="avatar">
                </div>
                <div class="file-path_wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>

            <!-- <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input type="text" class="validate" name="username" id="username" value="{{ user.username }}">
                <label for="username">Nombre de Usuario</label>
            </div> -->

            <div class="input-field">
                <!-- <i class="material-icons prefix">email</i> -->
                <input type="text" class="validate" name="email" id="email" value="{{ user.email }}">
                <label for="email">Correo Electronico</label>
            </div>

            <div class="input-field">
                <!-- <i></i> -->
                <input type="text" class="validate" name="first_name" id="first_name" value="{{ user.first_name }}">
                <label for="first_name">Nombres</label>
            </div>

            <div class="input-field">
                <!-- <i class="material-icons prefix"></i> -->
                <input type="text" class="validate" name="last_name" id="last_name" value="{{ user.last_name }}">
                <label for="last_name">Apellidos</label>
            </div>

            <div class="input-field">
                <!-- <i class="material-icons prefix"></i> -->
                <textarea name="description" id="description" class="materialize-textarea">{{ user.profile.description }}</textarea>
                <label for="description">Descripcion (Opcional)</label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" type="submit">Guardar</button>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
    </form>
</div>