<header class="z-depth-1">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <nav class="light-blue accent-3 black-text z-depth-0">
                    <div class="nav-wrapper">
                        {% load static %}
                        <a href="{% url 'home' %}" class="brand-logo center"><img src="{% static 'img/IconBuho1.png' %}" alt="Logo" style="max-height: 60px;"></a>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
  </header>