{% extends 'base.html' %}

{% block title %}
    {{ user.username }} | Biblioteca ARP
{% endblock %}

{% block content %}
    <main class="dark-b white-text">
        <div class="container">
            <div class="row" style="margin-top: 10px;">
                <div class="col s4 m2">
                    {% if user.profile.avatar %}
                        <img src="{{ user.profile.avatar.url }}" class="responsive-img circle " alt="{{ user.username }} | Biblioteca ARP">
                        {% else %}
                            {% load static %}
                            <img src="{% static 'img/avatar.png' %}" class="responsive-img circle " alt="{{ user.username }} | Biblioteca ARP">
                    {% endif %}
                </div>

                <div class="col s8 m10">
                    <h4 style="text-transform: capitalize;">{{ user.username }}
                        {% if user == request.user %}
                            <a href="#modalEditProfile" class="btn-floating modal-trigger green"><i class="material-icons">edit</i></a>
                        {% endif %}
                    </h4>
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <span>{{user.email}}</span>
                    {% if user.profile.description %}
                        <P>{{ user.profile.description }}</P>
                    {% endif %}
                </div> 
            </div>

            <section class="row">
                <div class="col s12">
                    <h4 class="center-align">Publicaciones 
                        {% if request.user == user %}
                            <a href="{% url 'newPost' %}" class="btn-floating light-blue pulse"><i class="material-icons">add</i></a>
                        {% endif %}
                    </h4>
                </div>

                <div class="col s12">
                    {% for post in posts %}
                        {% if post.state == 'Published' %}
                            <div class="col s12 m4">
                                <div class="card dark-b3">
                                    <div class="card-image">
                                        <img src="{{ post.image.url }}">
                                        <span class="card-title">{{ post.title }}</span>
                                        {% if post.user == request.user %}
                                            <a class="btn-floating halfway-fab waves-effect waves-light red rigth" href="/posts/delete/{{ post.pk }}"><i class="material-icons">delete</i></a>
                                            <a class="btn-floating halfway-fab waves-effect waves-light green left" href="/posts/edit/{{ post.pk }}"><i class="material-icons">edit</i></a>
                                        {% endif %}
                                    </div>
                                    <div class="card-content dark-b3">
                                        <small>{{ post.created }}</small>
                                        <br>
                                        <span>{{ post.user }}</span>
                                        {% if post.description %}
                                            <p>{{ post.description }}</p>
                                        {% endif %}
                                    </div> 
                                    <div class="card-action dark-b2">
                                        <a href="/posts/{{ post.pk }}" class="light-blue-text text-accent-2">Leer mas...</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
            <!-- Modal de Editar Perfil -->
            <section>
                {% include 'components/modalEditProfile.html' %}
            </section>
        </div>
    </main>
{% endblock %}
